body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #6C7279;
}
a {
    color: inherit;
}

/*==============Header==================*/

/*==============Header top==================*/
.header {
    background: url(../img/bg-header.jpg) no-repeat 50% 50%;
    background-size: cover;
    position: relative;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #252B49;
    mix-blend-mode: normal;
    opacity: 0.8;
    z-index: 5;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
}
.header__inner {
    height: 100vh;
    position: relative;
    z-index: 10;
    color: #fff;
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #BABBC5;
}
.logo {
}
.header__menu__list li {
    display: inline-block;
}
.header__menu__list_item {
}
.item__link {
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    padding: 10px 28px;
    position: relative;
}
.item__link:active {
    color: #E71414;
}
.item__link:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #BABBC5;
    left: 0;
    top: 63px;
}




/*==============Header content==================*/
.header__content {
    padding: 130px 0 150px;
    text-align: center;

}

h1 {
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 31px;
}
.header__content_text {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 110px;
}
.btn {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    padding: 30px 92px;
    
}
.header__content_btn {
    background: #FF4343;
}
.header__content_btn:hover {
    background: #E71414;
}
.header__content_btn:active {
    background: #FF4343;
    box-shadow: 4px 4px 30px #FF4343;
}